#page-local-excursions-index {
	.generaltable tbody tr.activity {
	    // background-color: #d4edda;
	    &.not-published {
		    //background: #fff3cd;
		}
		.c-status {
			&.published {
				i {
				    color: green;
				}
			}
			&.in-review {
				i {
				    color: orange;
				}
			}
		}
		.c-name {
			max-width: 200px;
		}
		.c-students {
			max-width: 270px;
			img {
				margin: 0px 5px 5px 0px;
			}
			.user-permission {
			    position: relative;
			    display: inline-block;
			    .fa {
				    position: absolute;
				    top: 0;
				    left: 0;
				    height: 35px;
				    width: 35px;
				    text-align: center;
				    padding-top: 10px;
				    background-color: rgba(255,255,255,0.4);
				    border-radius: 50%;
				    transition: all 0.3s;
				}
				.fa-check {
				    color: green;
				    border: 1px solid green;
				}
				.fa-times {
				    color: red;
				    border: 1px solid red;
				}
				&:hover{
					.fa {
						opacity: 0;
			    	}
			    }
			}
			
		}
		.c-details {
		    max-width: 400px;
		}
		&.past, &.past:nth-of-type(odd) {
		    background: rgba(0,0,0,0.3);
		}
		&.is-autosave {
			background: rgba(240,173,78,0.3) !important;
		}
		&.deleting {
		    opacity: 0.4;
		    pointer-events: none;
		}
	}
	.header {
		padding: 0 0 20px 0;
    text-align: right;
	}
  .filter-header {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    h5 {
      line-height: 1;
      margin: 0;
      margin-right: 20px;
    }
    label {
      margin: 0;
    }
  }
  .list-activities .activity.past {
    display: none;
  }
  &.show-past-activities .list-activities .activity.past {
    display: table-row;
  }
  .activities-tabs {
    display: flex;
    margin-bottom: 20px;
    flex-flow: wrap;
    .activities-tab {
      padding: 20px;
      background: #f2f2f2;
      border: 1px solid #fff;
      font-size: 17px;
      font-weight: 600;
      text-align: center;
      cursor: pointer;
      &:hover {
        background: #eaeaea;
      }
      &.selected {
        background: #005b94;
        color: #fff;
      }
    }
  }
	.list-activities {
    display: none;
    &.selected {
      display: block;
    }
	}

	.th-id {
	    width: 50px;
	}
	.th-timestart, .th-timeend {
	    width: 80px;
    	text-align: center;
    	padding-left: 0;
	}
	.c-timestart, .c-timeend {
    	padding-left: 0;
    	vertical-align: top;
	}
	.c-timecreated { 
		font-size: 11px;
	}
	.c-timecreated, .th-timecreated {
		display: none;
    	width: 110px;
	}
	.sort {
		display: none;
	}
	.cal-date {
		width: 50px;
    	margin: 0 auto;
    	line-height: 1;
		.cal-day {
			background: #66A8D8;
		    color: #fff;
		    display: inline-block;
		    text-align: center;
		    width: 65px;
		    font-size: 17px;
		    font-family: monospace;
		    font-weight: 600;
	        padding: 4px 0;
		}
		.cal-year {
			text-align: center;
		    width: 65px;
		    font-size: 10px;
		    font-family: monospace;
		    line-height: 11px;
		    border-top: 0;
		    border-bottom: 0;
		    margin-top: 4px;
		}
		.cal-time {
		    font-size: 12px;
		    font-family: monospace;
		    text-align: center;
		    width: 65px;
		    background: #ccc;
		    background: #717171;
		    color: #fff;
	        padding: 2px 0;
		}
		&.same-day {
			.cal-month, .cal-day, .cal-year {
				display: none;
			}
		}
	}
	.approver-activities {
		.c-timecreated, .th-timecreated {
			display: table-cell;
		}
		.sort {
			display: inline;
		}
	}
}