{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   local_excursions
    @copyright 2021 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_excursions/activityform_approvals

    View for the approvals section of the activity form.
}}
<div class="approvals">
    {{>local_excursions/activityform_approvals_status}}
    {{>local_excursions/activityform_approvals_notices}}
    {{>local_excursions/activityform_approvals_workflow}}
    <div class="reply-form">
        <textarea class="reply-comment form-control" rows="4" spellcheck="true" placeholder="Add a comment"></textarea>
        <a href="#" id="btn-postcomment" class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
    </div>
    <div class="comments"></div>

{{#statushelper.isapproved}}
    <div style="padding: 10px;">

      <div>
        <strong>Catering Requirements</strong>
        <p>
          If your activity requires catering, please complete the <a target="_blank" href="https://infiniti.canberragrammar.org.au/Infiniti/Produce/launch.aspx?id=db4a01bf-5152-46e3-b345-6a560946de3e&portal=1">Catering Request Form</a>. 
        </p>
      </div>

      <div>
        <strong>Financial Approvals</strong>
        <p>
          If your activity has cost implications, please ensure that the financials have been approved formally
        </p>
      </div>

      
      <div>
        <strong>IT Support </strong>
        <p>
          For technical assistance, including audio-visual needs or access control support, submit a ticket through the <a target="_blank" href="https://support.cgs.act.edu.au/">Ed Tech Support Desk link</a>. 
        </p>
      </div>

      <div>
        <strong>Logistical Support</strong>
        <p>
          For any logistical support, such as event setup or equipment needs, submit a request through the <a target="_blank" href="https://support.cgs.act.edu.au/">Property and Facilities Support Desk link</a>. Remember to include pack-up information as well. 
        </p>
      </div>

      <div>
        <strong>Marketing, Design, and Communications</strong>
        <p>
          For graphic design, communications (such as CGS Connect news and announcements), photography, or online RSVP/payment system (Humanitix), submit a ticket via the <a target="_blank" href="https://support.cgs.act.edu.au/">Marketing, Graphic Design and Events Support Desk link</a>. If you require event management support, select "Events" in the drop-down menu to notify the Events Manager and team. 
        </p>
      </div>

    
      <div>
        <strong>Venue Booking</strong>
        <p>Have you secured a venue? Begin by confirming availability and booking through <a target="_blank" href="https://sobs.com.au/ui/login.php?schoolid=728">SOBS Primary</a> or <a target="_blank" href="https://sobs.com.au/ui/login.php?schoolid=157">SOBS Senior</a>, ensuring your reservation includes time for setup and pack-up. 
      </div>
    
    </div>
    {{/statushelper.isapproved}}

</div>