{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   local_excursions
    @copyright 2021 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_excursions/activityform_approvals_workflow

    View for the approvals section of the activity form.
}}

<div class="workflow">
    <h5>Approvals</h5>
    <table class="table">
        <tbody>
            {{#approvals}}
                <tr class="approval {{#canapprove}}is-approver{{/canapprove}} {{#selectable}}selectable{{/selectable}} {{#nominated}}nominated{{/nominated}}" data-id="{{id}}" data-status="{{status}}" data-type="{{type}}" data-skip="{{skip}}">
                    <td class="cell c-type">
                        {{#isapprover}}{{#canskip}}
                            <a href="#" title="Skip Approval" class="action-skip" data-skip="{{skip}}"><i class="fa fa-bell" aria-hidden="true"></i></a>
                        {{/canskip}}{{/isapprover}}
                        {{^selectable}}{{description}}{{/selectable}}
                        {{#isapprover}}{{#selectable}}
                          <select title="Select an approver" class="nominate-approver-select" {{#statushelper.isapproved}}disabled="true"{{/statushelper.isapproved}}>
                            <option value="">-- Select approver --</option>
                            {{#approvers}}
                              <option value="{{username}}" {{#isselected}}selected{{/isselected}}>{{fullname}}</option>
                            {{/approvers}}
                          </select>
                          <button title="Save and send email" class="nominate-approver-btn">Submit</button>
                        {{/selectable}}{{/isapprover}}
                    </td>
                    <td class="cell c-photo">
                        {{#userphoto}}
                            <img class="round" title="{{#skip}}Skipped{{/skip}}{{^skip}}Approved{{/skip}} by {{username}}" src="{{{userphoto}}}">
                        {{/userphoto}}
                        <div class="spinner"><div class="circle spin"></div></div>
                    </td>
                    <td class="cell c-status">
                        {{^canapprove}}
                            {{#statushelper.isapproved}}
                                <i class="fa fa-check" aria-hidden="true" title="Approved"></i>
                            {{/statushelper.isapproved}}
                            {{#statushelper.isrejected}}
                                <i class="fa fa-times" aria-hidden="true" title="Rejected"></i>
                            {{/statushelper.isrejected}}
                        {{/canapprove}}
                        {{#canapprove}}{{^skip}}
                            <input title="{{^status}}Approve step{{/status}}{{#status}}Undo approval{{/status}}" class="approve" type="checkbox" data-id="{{id}}" {{#status}}checked{{/status}}>
                        {{/skip}}{{/canapprove}}
                    </td>
                </tr>
            {{/approvals}}
        </tbody>
    </table>
</div>