{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   local_excursions
    @copyright 2021 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_excursions/activityform_approvals

    View for the approvals section of the activity form.
}}
<div class="approvals">
    {{>local_excursions/activityform_approvals_status}}
    {{>local_excursions/activityform_approvals_notices}}
    {{>local_excursions/activityform_approvals_workflow}}
    <div class="reply-form">
        <textarea class="reply-comment form-control" rows="4" spellcheck="true" placeholder="Add a comment"></textarea>
        <a href="#" id="btn-postcomment" class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
    </div>
    <div class="comments"></div>

{{#statushelper.isapproved}}
    <div style="padding: 10px;">




    

      To help streamline your activity planning process at CGS, we’ve provided a list of essential components for you to consider for pre- and post-activity arrangements.
<div>

<strong>Catering Requirements</strong>

If your activity requires catering, please complete the <a href="https://infiniti.canberragrammar.org.au/Infiniti/Produce/launch.aspx?id=db4a01bf-5152-46e3-b345-6a560946de3e&amp;portal=1" target="_blank" rel="noopener">Catering Request Form</a>.

</div>
<div>

<strong>Financial Approvals</strong>

If your activity has cost implications, please ensure that the financials have been approved formally

</div>
<div>

<strong>IT Support </strong>

For technical assistance, including audio-visual needs or access control support, submit a ticket through the <a href="https://support.cgs.act.edu.au/" target="_blank" rel="noopener">Ed Tech Support Desk link</a>.

</div>
<div>

<strong>Logistical Support</strong>

For any logistical support, such as event setup or equipment needs, submit a request through the <a href="https://support.cgs.act.edu.au/" target="_blank" rel="noopener">Property and Facilities Support Desk link</a>. Remember to include pack-up information as well.

</div>
<div>

<strong>Marketing, Design, and Communications</strong>

For graphic design, communications (such as CGS Connect news and announcements), photography, or online RSVP/payment system (Humanitix), submit a ticket via the <a href="https://support.cgs.act.edu.au/" target="_blank" rel="noopener">Marketing, Graphic Design and Events Support Desk link</a>. If you require event management support, select "Events" in the drop-down menu to notify the Events Manager and team.

</div>
<div>

<strong>Student Project</strong>

If this is a student-led project and you are the supervising staff member, please pass onto the student the Project Guidelines link <a href="https://kb.cgs.act.edu.au/guides/senior-school-student-projects/" target="_blank" rel="noopener">https://kb.cgs.act.edu.au/guides/senior-school-student-projects</a>. These guidelines will prompt students to then requests further assistance via the <a href="https://support.cgs.act.edu.au/" target="_blank" rel="noopener">Student Projects Support Desk link</a>.

</div>
<div>

<strong>Venue Booking</strong>

<span data-contrast="auto">Have you secured a venue? Begin by confirming availability and booking through </span><a href="https://sobs.com.au/ui/login.php?schoolid=728"><span data-contrast="none">SOBS Primary</span></a><span data-contrast="auto"> or </span><a href="https://sobs.com.au/ui/login.php?schoolid=157"><span data-contrast="none">SOBS Senior</span></a><span data-contrast="auto">, ensuring your reservation includes time for setup and pack-up. </span><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559739&quot;:160,&quot;335559740&quot;:256}"> </span>

<span data-contrast="auto">Any classroom bookings will need to go through SOBS and an email sent to the </span><a href="mailto:timetable@cgs.act.edu.au"><span data-contrast="none">timetable@cgs.act.edu.au</span></a><span data-ccp-props="{&quot;201341983&quot;:0,&quot;335559685&quot;:720,&quot;335559739&quot;:160,&quot;335559740&quot;:256}"> </span>

</div>





    
    </div>
    {{/statushelper.isapproved}}

</div>