{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   local_excursions
    @copyright 2021 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_excursions/categories_selector.
}}
<div class="categories-selector" style="display: flex; justify-content: space-between;">

  <div class="category-group">
    {{#primaryschool}}
      <input id="{{id}}" type="checkbox" name="categories" value="{{value}}" {{#checked}}checked="true"{{/checked}}>
      <label for="{{id}}" style="margin:0">{{{title}}}</label><br>
    {{/primaryschool}}
  </div>

  <div class="category-group">
    {{#seniorschool}}
      <input id="{{id}}" type="checkbox" name="categories" value="{{value}}" {{#checked}}checked="true"{{/checked}}>
      <label for="{{id}}" style="margin:0">{{{title}}}</label><br>
    {{/seniorschool}}
  </div>

  <div class="category-group">
    {{#wholeschool}}
      <input id="{{id}}" type="checkbox" name="categories" value="{{value}}" {{#checked}}checked="true"{{/checked}}>
      <label for="{{id}}" style="margin:0">{{{title}}}</label><br>
    {{/wholeschool}}
  </div>

  <div class="category-group">
    {{#cocurricular}}
      <input id="{{id}}" type="checkbox" name="categories" value="{{value}}" {{#checked}}checked="true"{{/checked}}>
      <label for="{{id}}" style="margin:0">{{{title}}}</label><br>
    {{/cocurricular}}
  </div>

</div>