{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   local_excursions
    @copyright 2021 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_excursions/events

    View template.
}}

<div class="local_excursions_events">
  <div style="display: none;" class="header">
    <div class="head-options">
      <a id="btn-eventreview" class="btn btn-primary" href="/local/excursions/">Back to activity planning index</a>
    </div>
  </div>

  <div class="nav-bar">{{{nav}}}</div>
  
  <table class="events">
    <tr>
      <th class="th-time">Start - end</th>
      <th class="th-title">Title</th>
      <th class="th-location">Location</th>
      <th class="th-categories">Categories</th>
      <!--<th>Details</th>-->
      <th class="th-owner">Owner</th>
      <th class="th-type">Type</th>
      <th class="th-actions">Actions</th>
      <th class="th-sync">Approved</th>
      <th class="th-sync">Public now</th>
    </tr>
  {{#events}}
    <tr class="event" data-eventid="{{id}}" data-status="{{status}}" data-pushpublic="{{pushpublic}}">
      <td>
        <div class="times">
          <div class="daystart">
            <div class="event-date">
              <div class="event-day">{{dayStart}}<small>{{dayStartSuffix}}</small></div>
              <div class="event-time">{{timestartReadable}}</div>
            </div>
          </div>
          <span> - </span>
          <div class="dayend">
            <div class="event-date">
              <div class="event-day">{{dayEnd}}<small>{{dayEndSuffix}}</small></div>
              <div class="event-time">{{timeendReadable}}</div>
            </div>
          </div>
        </div>
        <div> 
          {{duration}}
          {{#nonnegotiable}} <span class="badge badge-warning">Non-negotiable</span> <span>{{reason}}</span>{{/nonnegotiable}}
        </div>
      </td>
      <td>{{eventname}}</td>
      <td>{{location}}</td>
      <td>{{#areas}}<span class="badge badge-pill badge-light">{{.}}</span>{{/areas}}</td>
      <!--<td>{{shortdetails}}</td>-->
      <td><div><img class="rounded-circle" height="18" src="{{owner.photourl}}"> <span>{{owner.fullname}}</span></div></td>
      <td>{{#isactivity}}Excursion{{/isactivity}}{{^isactivity}}Cal entry{{/isactivity}} </td>
      <td>
        <div class="actions">
          
          <div class="conflict-check-results">
            <div class="loading active">
              <div class="spinner"><div class="circle spin"></div></div>
              <div>Checking conflicts...</div>
            </div>
            <a class="btn btn-danger btn-showconflicts" href="#" data-eventid="{{id}}">Conflicts</a>
            <div class="text-no-conflicts">No conflicts found</div>
          </div>
          
          <a class="btn btn-secondary" href="{{editurl}}">Edit</a>

          <button style="display: none;" class="btn btn-secondary dropdown-toggle" type="button" id="actions-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actions-dropdown">
            <a class="dropdown-item" href="{{editurl}}">Edit event</a>
            {{#syncon}}
              <a class="dropdown-item option-disablesync" href="#" data-eventid="{{id}}">Disable calendar sync</a>
            {{/syncon}}
            {{^syncon}}
              <a class="dropdown-item option-enablesync" href="#" data-eventid="{{id}}">Enable calendar sync</a>
            {{/syncon}}
          </div>
        </div>
      </td>
      <td>
        <div class="sync">
          <input {{#isactivity}}disabled="true"{{/isactivity}} type="checkbox" class="cb-syncevent" value="{{id}}" {{#syncon}}checked="true"{{/syncon}}>
        </div>
      </td>
      <td class="pushpublic">
        <div>
          <input {{#syncon}}disabled="true"{{/syncon}} {{^displaypublic}}disabled="true"{{/displaypublic}} type="checkbox" class="cb-pushpublic" value="{{id}}" {{#pushpublic}}checked="true"{{/pushpublic}}>
        </div>
      </td>
    </tr>
  {{/events}}
  </table>
  <div class="nav-bar">{{{nav}}}</div>

  
  {{>local_excursions/loadingoverlay}}

</div>