{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   local_excursions
    @copyright 2021 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_excursions/index_activity

    View template.
}}
<tr class="activity {{#statushelper.isdraft}}is-draft{{/statushelper.isdraft}}{{#statushelper.inreview}}in-review{{/statushelper.inreview}}
    {{#ispast}}past{{/ispast}}">
    <td class="cell c-timecreated">{{createdreadabletime}}</td>
    <td class="cell c-timestart">{{{calicons.start}}}</td>
    <td class="cell c-timeend">{{{calicons.end}}}</td>
    <td class="cell c-name">{{activityname}}</td>
    <td class="cell c-location">{{location}}</td>
    {{^isstaff}}<td class="cell c-details">{{{htmlnotes}}}</td>{{/isstaff}}
    <td class="cell c-staffincharge"><img class="round userphoto" title="{{staffinchargeinfo.fullname}}" src="{{{staffinchargeinfo.userphoto}}}"> {{staffinchargeinfo.fullname}}</td>
    {{#isstaff}}
        <td class="cell c-status {{#statushelper.isdraft}}is-draft{{/statushelper.isdraft}}{{#statushelper.inreview}}in-review{{/statushelper.inreview}}">
            {{#statushelper.isautosave}}
                <span class="badge badge-secondary">
                    {{#str}}status:draft, local_excursions{{/str}}
                </span>
            {{/statushelper.isautosave}}
            {{#statushelper.isdraft}}
                <span class="badge badge-secondary">
                    {{#str}}status:draft, local_excursions{{/str}}
                </span>
            {{/statushelper.isdraft}}
            {{#statushelper.inreview}}
                <span class="badge badge-warning">
                    {{#str}}status:inreview, local_excursions{{/str}}
                </span>
                {{#iswaitingforyou}}
                    <span class="badge badge-danger">
                        {{#str}}status:waitingforyou, local_excursions{{/str}}
                    </span>
                {{/iswaitingforyou}}
            {{/statushelper.inreview}}
            {{#statushelper.isapproved}}
                <span class="badge badge-success">
                    {{#str}}status:approved, local_excursions{{/str}}
                </span>
            {{/statushelper.isapproved}}
            {{#statushelper.iscancelled}}
                <span class="badge badge-danger">
                    {{#str}}status:cancelled, local_excursions{{/str}}
                </span>
            {{/statushelper.iscancelled}}
            {{#ispast}}<span class="badge badge-secondary">{{#str}}pastevent, local_excursions{{/str}}</span>{{/ispast}}
        </td>
    {{/isstaff}}
    {{#isparent}}
        <td class="cell c-students">
            {{#userpermissions}}
                <img class="round userphoto" title="{{fullname}}" src="{{{userphoto}}}">
            {{/userpermissions}}
        </td>
    {{/isparent}}
    <td class="cell c-actions lastcol">
        {{#isstaff}}
            <a class="btn btn-primary" href="{{manageurl}}">Manage</a>
        {{/isstaff}}
        {{#permissions}}{{^ispast}}{{#userhasstudents}}
            <a class="btn btn-warning" href="{{permissionsurl}}">Permissions</a>
        {{/userhasstudents}}{{/ispast}}{{/permissions}}
        {{#isparent}}{{^isstaff}}{{^permissions}}
            N/A
        {{/permissions}}{{/isstaff}}{{/isparent}}
    </td>

</tr>