{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   local_excursions
    @copyright 2021 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_excursions/index_activities_head

    Table header for index activity lists.
}}
<thead>
    <tr>
        <th class="th th-timestart" scope="col">Start</th>
        <th class="th th-timeend" scope="col">End</th>
        <th class="th" scope="col">Activity name</th>
        <th class="th" scope="col">Location</th>
        {{^isstaff}}<th class="th" scope="col">Details</th>{{/isstaff}}
        <th class="th" scope="col">Staff in charge</th>
        {{#isstaff}}
            <th class="th" scope="col">Status</th>
        {{/isstaff}}
        {{#isparent}}
            <th class="th" scope="col">Your students</th>
        {{/isparent}}
        <th class="th lastcol" scope="col">
            {{#isparent}}Permissions{{/isparent}}
            {{#isstaff}}{{^isparent}}Actions{{/isparent}}{{/isstaff}}
        </th>
    </tr>
</thead>