{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   local_excursions
    @copyright 2021 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_excursions/index_activity

    View template.
}}

{{#calentryonly}}
  <tr class="event" data-eventid={{id}}>
      <td>
        <div class="times">
          <div class="daystart">
            <div class="event-date">
              <div class="event-day">{{dayStart}}<small>{{dayStartSuffix}}</small></div>
              <div class="event-time">{{timestartReadable}}</div>
            </div>
          </div>
          <span> - </span>
          <div class="dayend">
            <div class="event-date">
              <div class="event-day">{{dayEnd}}<small>{{dayEndSuffix}}</small></div>
              <div class="event-time">{{timeendReadable}}</div>
            </div>
          </div>
        </div>
        {{#issearch}}{{monyear}}{{/issearch}} <small>{{duration}}</small>
      </td>
      <td><strong>{{eventname}}</strong></td>
      <td>{{location}}</td>
      <td><div><img class="rounded-circle" height="18" src="{{owner.photourl}}"> <span>{{owner.fullname}}</span></div></td>
      <td>Calendar entry only</td>
      <td>
        <div class="actions">
          <a class="btn btn-secondary" href="{{editurl}}">Edit</a>
        </div>
      </td>
      {{#iseventreviewer}}
        <td>{{createdreadabledate}}</td>
      {{/iseventreviewer}}
    </tr>
{{/calentryonly}}
{{^calentryonly}}
  <tr data-id="{{id}}" class="activity {{#statushelper.isautosave}}is-autosave{{/statushelper.isautosave}}{{#statushelper.isdraft}}is-draft{{/statushelper.isdraft}}{{#statushelper.inreview}}in-review{{/statushelper.inreview}}
      {{#ispast}}past{{/ispast}}">
      <td class="cell">
        {{#isstaff}}
          <div class="times">
            <div class="daystart">
              <div class="event-date">
                <div class="event-day">{{dayStart}}<small>{{dayStartSuffix}}</small></div>
                <div class="event-time">{{timestartReadable}}</div>
              </div>
            </div>
            <span> - </span>
            <div class="dayend">
              <div class="event-date">
                <div class="event-day">{{dayEnd}}<small>{{dayEndSuffix}}</small></div>
                <div class="event-time">{{timeendReadable}}</div>
              </div>
            </div>
        </div>
        {{#issearch}}{{monyear}}{{/issearch}} <small>{{duration}}</small>
        {{/isstaff}}
        {{^isstaff}}
          <div class="badge badge-secondary">{{timestartFullReadable}}</div> - <div class="badge badge-secondary">{{timeendFullReadable}}</div>
          <br><div class="badge">{{duration}}</div>
        {{/isstaff}}
      </td>
      <td class="cell c-name"><strong>{{activityname}}</strong></td>
      <td class="cell c-location">{{^isexcursion}}(Incursion) {{/isexcursion}}{{location}}</td>
      <td class="cell c-staffincharge"><img class="round userphoto" title="{{staffinchargeinfo.fullname}}" src="{{{staffinchargeinfo.userphoto}}}"> {{staffinchargeinfo.fullname}}</td>
      {{#isstaff}}
          <td class="cell c-status {{#statushelper.isdraft}}is-draft{{/statushelper.isdraft}}{{#statushelper.inreview}}in-review{{/statushelper.inreview}}">
              {{#statushelper.isautosave}}
                  <span class="badge badge-secondary">
                      {{#str}}status:autosave, local_excursions{{/str}}
                  </span>
              {{/statushelper.isautosave}}
              {{#statushelper.isdraft}}
                  <span class="badge badge-secondary">
                      {{#str}}status:draft, local_excursions{{/str}}
                  </span>
              {{/statushelper.isdraft}}
              {{#statushelper.inreview}}
                  <span class="badge badge-warning">
                      {{#str}}status:inreview, local_excursions, {{stepname}}{{/str}}
                  </span>
                  {{#iswaitingforyou}}
                      <span class="badge badge-danger">
                          {{#str}}status:waitingforyou, local_excursions{{/str}}
                      </span>
                  {{/iswaitingforyou}}
              {{/statushelper.inreview}}
              {{#statushelper.isapproved}}
                  <span class="badge badge-success">
                      {{#str}}status:approved, local_excursions{{/str}}
                  </span>
              {{/statushelper.isapproved}}
              {{#statushelper.iscancelled}}
                  <span class="badge badge-danger">
                      {{#str}}status:cancelled, local_excursions{{/str}}
                  </span>
              {{/statushelper.iscancelled}}
              {{#ispastx}}<span class="badge badge-secondary">{{#str}}pastevent, local_excursions{{/str}}</span>{{/ispastx}}
          </td>
      {{/isstaff}}
      {{#isparent}}
          <td class="cell c-students">
              {{#userpermissions}}
                  <a target="_blank" href="{{permissionsurl}}" title="{{fullname}} {{#isyes}}- permission set to 'Yes'{{/isyes}}{{#isno}}- permission set to 'No'{{/isno}}" class="user-permission">
                      <img class="round userphoto" title="{{fullname}}" src="{{{userphoto}}}">
                      {{#isyes}}<i class="fa fa-check" aria-hidden="true"></i>{{/isyes}}
                      {{#isno}}<i class="fa fa-times" aria-hidden="true"></i>{{/isno}}
                  </a>
              {{/userpermissions}}
          </td>
      {{/isparent}}
      <td class="cell c-actions lastcol">
        <div class="actions">
          {{#isstaff}}
              <a class="btn btn-primary" href="{{manageurl}}">Manage</a>
          {{/isstaff}}
          {{#permissions}}{{^ispast}}{{#userhasstudents}}
              <a class="btn btn-warning" href="{{permissionsurl}}">Permissions</a>
          {{/userhasstudents}}{{/ispast}}{{/permissions}}
          {{#statushelper.isdraftorautosave}}{{#usercanedit}}
              <a class="delete-activity btn btn-danger" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
          {{/usercanedit}}{{/statushelper.isdraftorautosave}}
          {{^statushelper.isdraftorautosave}}{{#isapprover}}
              <a class="delete-activity btn btn-danger" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
          {{/isapprover}}{{/statushelper.isdraftorautosave}}
          {{#isparent}}{{^isstaff}}{{^permissions}}
              N/A
          {{/permissions}}{{/isstaff}}{{/isparent}}
        </div>
      </td>
      {{#iseventreviewer}}
        <td>{{createdreadabledate}}</td>
      {{/iseventreviewer}}

  </tr>
{{/calentryonly}}