{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   local_excursions
    @copyright 2021 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_excursions/staff_selector

    View for the recipient autocomplete field.
}}
<div id="{{id}}" class="recipient-selector row form-group" data-maxusers="{{maxusers}}">
    <div class="col-md-3">
        <label class="col-form-label d-inline " for="recipient-autocomplete">
            {{question}}
        </label>
    </div>
    <div class="col-md-9">
        <div class="recipient-selection"></div>
        <div class="recipient-input-wrap">  
            <input type="text" name="recipient-autocomplete" class="form-control recipient-autocomplete" placeholder="{{#str}}activityform:recipientplaceholder, local_excursions{{/str}}" aria-expanded="false" autocomplete="off" autocorrect="off" autocapitalize="off" aria-autocomplete="list">
            <div class="spinner"><div class="circle spin"></div></div>
        </div>
        <div class="recipient-results">
            {{>local_excursions/recipient_selector_results}}
        </div>
    </div>
</div>